@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}
.bg_image {
  background-image: url("./components/images/bg-shorten-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(43, 0, 54);
}
.sec4{
  background-image: url("./components/images/bg-boost-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(43, 0, 54);
}
.left {
  left: calc(50% - 1.9rem);
}



